# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=
SUPABASE_JWT_SECRET=

# AI
OLLAMA_BASE_URL=
OLLAMA_MODEL=
OLLAMA_NUM_PREDICT=1024
OLLAMA_CONTEXT_WINDOW=8192
OLLAMA_THINKING=False
OLLAMA_KEEP_ALIVE=10m

# Application
ENVIRONMENT=
SECRET_KEY=
